html {
  background: url(../images/wataaa.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*---------------------------navBar---------------------------*/
.navbar-header img{
  margin-top: 10px;
}
.navbar-nav{
  float: right;
  border-bottom: 2px solid black;
}
.navbar-default{
 background-color: transparent;
}
/*---------------------------homePage---------------------------*/
.img1{
  width: 200px;
}
.logo{
  width: 30px;
}
.container{
  background-color: transparent;
}
.container h1{
  font-size: 100px;
  text-align: center;
}

.container p{
  font-size: 35px;
  text-align: center;
}
